<h1> showing the created article</h1>
<p>
  title : <%= @article.title %>
  <br/>
  description : <%= @article.description %>
  
</p>
<p>

  <td> <%= link_to "home",root_path %></td> |
  
  <td> <%= link_to "Edit",edit_article_path %></td>
</p>
