<div class="about">
  
  <p> my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha 
   my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha 
    my name is anusha  my name is anusha  my name is anusha  my name is anusha  my name is anusha 
  
  </p>
  
</div>