
<h1> Maths the Fun way </h1>
<%= link_to 'online tutorials', alphablog_about_path %>
    <div class="searchbar"> 
        <form>
            <input type="text" /> 
            <input id="submit" type="submit" value="search">
        </form> 
        
    </div>
    </h1> <br/><br/>
    <div class="menu">
     <a href="http://www.gmail.com">HOME</a>
    <a href="http://www.google.com">ONLINE TUTORIALS</a>
    <a href="http://www.google.com">GET A PRIVATE TUTOR</a> 
    <a href="http://www.gmail.com">SIGN UP</a>
    <a href="http://www.google.com">CONTACT US</a>
    </div> <br/><br/>
    <div class="description">
        <p style="font-size:120% font-color:#346801"> Do you need help with Maths ? </p>
        <p> Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology Our website uses an interactive methodology </p>
    </div>
    <br/><br/>
    <div class="goto">
        <p class="sidehead"> GO TO: </p>
        <ul class="bullets">
            <li> year 1 free lesssions.</li>
            <li> year 2 free lesssions.</li>
            <li> year 3 free lesssions.</li>
            <li> year 4 free lesssions.</li>
            <li> year 5 free lesssions.</li>
            <li> year 6 free lesssions.</li>
            <li> year 7 free lesssions.</li>
            <li> year 7 free lesssions.</li>
            <li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li><li> year 7 free lesssions.</li>
        </ul>
        </div> 
    
    <div class="footer">
          <p> company meam#co </p>
    </div>
    

        