$navbar-default-bg:black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{color: white;
      font-size: 1.7em;
      float: left;
      text-transform: uppercase;
      letter-spacing:-1px;
      font-weight:bold;
  
}
.jumbotron{
            background-image: asset-url('dolphin.jpg');
            background-size: cover;
            height: 550px;
  
}
.center {text-align: center;}
.jumbotron h1{ text-align: center;
                margin-bottom: 40px;
                margin-top: 50px;
                letter-spacing: -1px;
                font-white: bold;
}
.btn-xlarge{font-size: 1em;
              background-color: #0b5baa;
  
}
.footer{margin-top: 70px;
        padding: 5px;
        border-top: solid grey;
}
.article-actions{margin: 10px 0px 10px 10px;
      border-top: 1px solid #eaeaea;
      padding-top: 5px;
}
.description{
  margin-top: 0px;
}
.article-title{ font-weight: bold;
        font-size: 1.5em;
        margin-left: 10px;
  
}
.article-body{ border-top :1px solid #eaeaea;
              padding-top: 15px;
              padding-bottom: 15px;
  
}
